<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>face10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,5},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,5},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,86},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,86},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,86},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,167},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,167},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,167},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,248},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,248},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face10_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,248},{71,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>face10_anims_i6p-i6p.png</string>
			<key>realTextureFileName</key>
			<string>face10_anims_i6p-i6p.png</string>
			<key>size</key>
			<string>{252,324}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>252</integer>
			<key>height</key>
			<integer>324</integer>
		</dict>
	</dict>
</plist>