<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>face3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,5},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,89},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,89},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,173},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,173},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,257},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,257},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,341},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>face3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,429},{78,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>face3_anims_i6p-i6p.png</string>
			<key>realTextureFileName</key>
			<string>face3_anims_i6p-i6p.png</string>
			<key>size</key>
			<string>{176,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>