<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>item9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,258},{65,75}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,408},{65,70}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,315},{65,75}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,99},{74,83}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{90,84}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,5},{90,70}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,85},{90,70}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,165},{65,79}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,183},{65,79}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,333},{65,75}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,329},{65,75}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,240},{65,79}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,240},{65,79}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,404},{65,70}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item9_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,390},{65,75}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>item9_anims_i6p-i6p.png</string>
			<key>realTextureFileName</key>
			<string>item9_anims_i6p-i6p.png</string>
			<key>size</key>
			<string>{256,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>