<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>item6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,169},{53,75}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,5},{67,76}}</string>
				<key>offset</key>
				<string>{15,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,5},{61,76}}</string>
				<key>offset</key>
				<string>{18,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,254},{58,44}}</string>
				<key>offset</key>
				<string>{20,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,334},{46,42}}</string>
				<key>offset</key>
				<string>{6,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,282},{57,42}}</string>
				<key>offset</key>
				<string>{4,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,286},{59,39}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,322},{48,42}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,286},{39,38}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,335},{47,39}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,219},{53,75}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,223},{53,75}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,159},{54,74}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,83},{58,76}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,151},{58,76}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,91},{58,76}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,82},{60,77}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item6_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{68,76}}</string>
				<key>offset</key>
				<string>{15,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>item6_anims_i6p-i6p.png</string>
			<key>realTextureFileName</key>
			<string>item6_anims_i6p-i6p.png</string>
			<key>size</key>
			<string>{256,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>