<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>item10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{76,97}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,5},{75,96}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,412},{63,88}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,412},{60,72}}</string>
				<key>offset</key>
				<string>{-8,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,260},{60,37}}</string>
				<key>offset</key>
				<string>{-8,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,5},{25,17}}</string>
				<key>offset</key>
				<string>{-4,40}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,90},{75,96}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,257},{71,92}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,176},{71,95}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,260},{66,92}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,338},{64,90}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,336},{66,92}}</string>
				<key>offset</key>
				<string>{6,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,91},{75,96}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>item10_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,175},{75,96}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>item10_anims_i6p-i6p.png</string>
			<key>realTextureFileName</key>
			<string>item10_anims_i6p-i6p.png</string>
			<key>size</key>
			<string>{256,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>